.List {
  background: @list-bg;

  &--bordered {
    border: @list-border-width solid @list-border-color;
    border-radius: @list-border-radius;
  }
}

.ListItem {
  display: flex;
  align-items: center;
  padding: @list-item-padding;
  border-top: @list-border-width solid @list-border-color;
  color: @list-item-color;
  transition: 0.3s;

  &:first-child {
    border-top: 0;
  }
}

a.ListItem:hover {
  background: @list-item-hover-bg;
  color: @list-item-hover-color;
  cursor: pointer;
}

.ListItem-content {
  flex: 1;
}
